@import '../mixn/';


.#{$componentPrefix}-button {
  $ns : #{$componentPrefix}-button;
  $typeList: primary, success, info, warning, danger, cyan;
  $themeList: ghost, fantasy, empty;


  $abc: var(--ber-button-bg-color);

  @include useFlexRCC;
  @include useSizeDft(0);
  @include useBorderBox();
  @include useBorderRadius(3);

  cursor: pointer;
  transition: all .15s;
  user-select: none;
  border: solid 1px;
  outline: none;

  color: initial;
  background-color: --ber-button-bg-color;
  color: $abc;

  &:hover {
    --ber-button-bg-color: var(--ber-color-parmary);
    $abc: pink;
  }

}