:root {
    --vp-header-anchor-symbol: '⩒';
    --vp-layout-max-width: 1660px;
}

.vp-doc table {
    display: table;
    width: 100%;
}

.vp-doc tr:nth-child(2n) {
    background-color: transparent;
}

.vp-doc tr {
    border-left: 1px solid var(--vp-c-divider);
    border-right: 1px solid var(--vp-c-divider);
    border-top: none;

    &:nth-child(1) {
        border-top: 1px solid var(--vp-c-divider);
    }

    &:last-child {
        border-bottom: 1px solid var(--vp-c-divider);
    }
}

.vp-doc th,
.vp-doc td {
    border: none;
}

.vp-doc th {
    background-color: #fafafa;
}
.vp-doc ul {
  padding: 0;
  margin: 0;
}
.vp-doc li + li {
  margin-top: 0;
  
}
.dark {
    .vp-doc th {
        background-color: #26262a;
    }
}

/* 修改 layout 最大宽度 */
.container {
    max-width: var(--vp-layout-max-width) !important;
}

.content-container,
.content {
    max-width: 100% !important;
}