.flex {
  display: flex;
}
.flex--1 {
  flex: 1;
}
.inline--block {
  display: inline-block;
}
.block {
  display: block;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--jcenter {
  display: flex;
  justify-content: center;
}
.flex--acenter {
  display: flex;
  align-items: center;
}

.flex--space--between {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
}



