$ns_input : #{$componentPrefix}-input;
$ns_button : #{$componentPrefix}-button;
$ns_button_group: #{$componentPrefix}-button-group;
$ns_radio: #{$componentPrefix}-radio;
$ns_input_group: #{$componentPrefix}-input-group;
$ns_checkbox_group: #{$componentPrefix}-checkbox-group;
$ns_checkbox: #{$componentPrefix}-checkbox;
$ns_switch: #{$componentPrefix}-switch;
$ns_tooltip: #{$componentPrefix}-tooltip;

$sizeList: small, normal, large;
$typeList: primary, tertiary, primary, info, success, warning, error;