$ns_input : #{$componentPrefix}-input;
$ns_button : #{$componentPrefix}-button;
$ns_button_group: #{$componentPrefix}-button-group;
$ns_radio: #{$componentPrefix}-radio;

$sizeList: small, normal, large;
$typeList: primary, tertiary, primary, info, success, warning, error;