:root {
  --ber-button-font-color: '';
  --ber-button-bg-color: #fff;
  --ber-button-br-color: #ccc;

  --ber-component-height-large: 40px;
  --ber-component-height: 32px;
  --ber-component-small: 24px;
  --ber-component-mini: 18px;

  --ber-color-parmary: #1BA784;
}