:root {
  --ber-button-font-color: #333639;
  --ber-button-bg-color: #fff;
  --ber-button-br-color: #ccc;
  --ber-color-disabled: rgba(250, 250, 252);

  --ber-component-height-large: 40px;
  --ber-component-height: 32px;
  --ber-component-height-small: 24px;
  --ber-component-height-mini: 18px;

  --ber-color-primary: #5046e5;
  --ber-color-primary-lignter: #645aef;
  --ber-color-primary-darken: #5146ec;

  --ber-color-info: #70c0e8;
  --ber-color-info-lignter: #89cbec;
  --ber-color-info-darken: #78c4e9;

  --ber-color-success: #63e2b7;
  --ber-color-success-lignter: #7fe7c4;
  --ber-color-success-darken: #5acea7;

  --ber-color-warning: #f2c97d;
  --ber-color-warning-lignter: #f5d599;
  --ber-color-warning-darken: #f3cc85;

  --ber-color-error: #e88080;
  --ber-color-error-lignter: #e98b8b;
  --ber-color-error-darken: #e98787;

  --ber-color-bg: #fff;
  --ber-black-color-bg: #000;

  --ber-color-gray: #DDDEE0;
  --ber-color-select-gray: #262627;
  --ber-color-gray-dark: darken(#DDDEE0, 15%);
  --ber-color-gray-deep-dark: rgb(139, 139, 139);
  --ber-color-gray-fade: rgb(235, 235, 235);
  --ber-color-gray-deep-fade: rgb(240, 242, 245);

  --ber-color-lignter: rgb(52, 52, 56);
  --ber-color-black: rgb(23, 23, 23);
  --ber-color-black-darken: rgb(42, 42, 46);

  --ber-size-small: 12px;
  --ber-height-small: 24px;
  --ber-size-normal: 14px;
  --ber-height-normal: 28px;
  --ber-size-large: 16px;
  --ber-height-large: 32px;

  --ber-check-small: 16px;
  --ber-check-normal: 20px;
  --ber-check-large: 24px;
  --ber-small-font: 14px;
  --ber-normal-font: 16px;
  --ber-large-font: 18px;

  --ber-switch-small: 32px;
  --ber-switch-normal: 40px;
  --ber-switch-large: 48px;

  --ber-shadow: inset 0 0 0 1px #DDDEE0;
  --ber-shadow-hover: inset 0 0 0 1px #4338ca;

  --ber-solid: 1px solid #dcdfe6;

<<<<<<< HEAD
  :focus {
    outline: none;
    /* 移除默认轮廓样式 */
  }

=======
>>>>>>> a21cd21cb87564daf831c593f5d5239542753b4c
  --ber-input-solid: 1px solid #e0e0e6;
  --ber-input-gray: #b5b7bd;
  --ber-font-gray: #9ea1a6;
  --ber-input-height-small: 28px;
  --ber-input-height-normal: 34px;
  --ber-input-height-large: 40px;
<<<<<<< HEAD
=======
  --ber-input-size-small: 12px;
  --ber-input-size-normal: 14px;
  --ber-input-size-large: 16px;

  --ber-tag-height-small: 22px;
  --ber-tag-height-normal: 28px;
  --ber-tag-height-large: 34px;

>>>>>>> a21cd21cb87564daf831c593f5d5239542753b4c
}