@import '../../mixin/';


$ns : #{$componentPrefix}-button;
$clns: #{$componentPrefix}-color;
$typeList: primary, tertiary, primary, warning, info, success, warning, error;
$themeList: ghost, fantasy, empty;

@function getClrVar($type) {
  @return var(--#{$clns}-#{$type});
}

@function getClrLignVar($type) {
  @return var(--#{$clns}-#{$type}-lignter);
}

.#{$componentPrefix}-button {
  $primary-color: #4338ca;

  //base
  & {
    @include useFlexRCC;
    @include useSizeDft(0);
    @include useBorderBox();
    @include useBorderRadius(3);

    cursor: pointer;
    transition: all .15s;
    user-select: none;
    border: solid 1px;
    outline: none;

    // background-color: darken(#7cdda9,15%);
    color: var(--ber-black-color-bg);
    background-color: var(--ber-color-bg);
    border-color: var(--ber-color-gray);

    &:hover,
    &:focus {
      color: var(--ber-color-primary)
    }

    &:hover {
      border-color: var(--ber-color-primary)
    }
  }
}

@each $type in $typeList {
  .#{$ns}-#{$type} {
    color: inherit;
    background-color: getClrVar($type);

    &:hover {
      color: white;
      border-color: getClrLignVar($type);
      background-color: getClrLignVar($type);
    }
  }

}