@import '../../mixin/';

@mixin checkSize($type) {
    @if($type =='small') {
        height: var(--ber-check-small);
        width: var(--ber-check-small);
    }

    @if($type =='normal') {
        height: var(--ber-check-normal);
        width: var(--ber-check-normal);
    }

    @if($type =='large') {
        height: var(--ber-check-large);
        width: var(--ber-check-large);
    }
}

@mixin flagSize($type) {
    @if($type =='small') {
        height: calc(8px * .4);
        width: calc(12px * .6);
    }

    @if($type =='normal') {
        height: calc(12px * .4);
        width: calc(16px * .6);
    }

    @if($type =='large') {
        height: calc(16px * .4);
        width: calc(20px * .6);
    }
}

@mixin checkBorderRadius($type) {
    @if($type =='small') {
        border-radius: calc(var(--ber-small-font) * .5);
    }

    @if($type =='normal') {
        border-radius: calc(var(--ber-normal-font) * .5);
    }

    @if($type =='large') {
        border-radius: calc(var(--ber-large-font) * .5);
    }
}

@mixin checkFontSize($type) {
    @if($type =='small') {
        font-size: var(--ber-small-font);
    }

    @if($type =='normal') {
        font-size: var(--ber-normal-font);
    }

    @if($type =='large') {
        font-size: var(--ber-large-font);
    }
}

@mixin flagAttr($type) {
    @if($type =='small') {
        top: calc(var(--ber-check-small) * .15);
        left: calc(var(--ber-check-small) * .15);
        border: calc(2px * 1.2) solid #fff;
    }

    @if($type =='normal') {
        top: calc(var(--ber-check-normal) * .15);
        left: calc(var(--ber-check-normal) * .15);
        border: calc(2px * 1.4) solid #fff;
    }

    @if($type =='large') {
        top: calc(var(--ber-check-large) * .15);
        left: calc(var(--ber-check-large) * .15);
        border: calc(2px * 1.6) solid #fff;
    }
}

.#{$ns_checkbox_group} {
    width: 100%;
    @include useFlexRCC(flex-start, center, 25px);
}

@each $item in $sizeList {
    .#{$ns_checkbox_group}-#{$item} {
        .#{$ns_checkbox} {
            @include checkFontSize($item);
            @include useFlexRCC(flex-start, center);
            gap: 6px;

            .#{$ns_checkbox}-contain {
                @include checkSize($item);
                @include checkBorderRadius($item);
                position: relative;

                &:checked::before {
                    content: "";
                    @include flagAttr($item);
                    @include flagSize($item);
                    border-bottom-left-radius: 1px;
                    position: absolute;
                    border-top: none;
                    border-right: none;
                    top: 50%;
                    left: 10%;
                    transform: rotate(-45deg);
                    transform-origin: left top;
                    animation: checkedAnimate .6s ease both;
                }

                @keyframes checkedAnimate {
                    0% {
                        width: 0%;
                        height: 0%;
                    }

                    33% {
                        width: 0%;
                        height: 29%;
                    }

                    100% {
                        width: 55%;
                        height: 29%;
                    }
                }
            }
        }
    }
}