@import '../../mixin/';


.#{$componentPrefix}-icon {
  $ns : #{$componentPrefix}-icon;
  $icon-size: var(--icon-size);
  width: fit-content;
  height: fit-content;

  .#{$componentPrefix}-icon-content {
    width: $icon-size;
    height: $icon-size;
    vertical-align: -0.15em;
    fill: currentColor;
    display: inline-block;

    overflow: hidden;
  }
}

.#{$componentPrefix}-icon-rotate {
  transform-origin: center;
  animation: rotate 1s infinite linear;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}