@import '../../mixin/';

.#{$ns_radio} {

  --costom-color: var(--ber-color-primary);
  --costom-color-hover: inset 0 0 0 1px #4338ca;

  --ber-radio-dft-width: 14px;
  --ber-radio-dft-height: 14px;

  --ber-radio-button-checked-bg-color: var(--ber-parmary-color);
  --ber-radio-button-active-color: var(--ber-color-bg);
  --ber-radio-disabled-color : #6c6e71;

  @mixin useRadioDft {
    display: inline-flex;
    width: auto;
    height: auto;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    user-select: none;
  }

  @mixin useRadioDot {
    width: var(--ber-radio-dft-width);
    height: var(--ber-radio-dft-height);
    display: inline-block;
    position: relative;
    margin: 3px 8px 0 0;
    background-color: transparent;
    box-shadow: var(--ber-shadow);
    border-radius: 50%;
    transition: tranfrom .15s ease-in;
  }

  width: 100%;
  height: auto;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1;

  & .#{$ns_radio}__item {
    @include useRadioDft;

    // border: 1px solid var(--ber-color-primary);
    & span {
      @include useRadioDot;
    }

    & span:hover {
      box-shadow: var(--costom-color-hover);
      transition: all .3s linear;
      // border: 1px solid pink;
    }

    & span.active {
      box-shadow: var(--ber-shadow-active);
      background-color: var(--costom-color);
      position: relative;

      &::after {
        @include useBlockCenter;
        content: "";
        width: calc(var(--ber-radio-dft-width) / 3);
        height: calc(var(--ber-radio-dft-height) / 3);
        background-color: var(--ber-color-bg);
        border-radius: 50%;
        transition: all 1s;
      }
    }

  }

  & .#{$ns_radio}-ghost {
    @include useRadioDft;

    & span {
      @include useRadioDot;
    }

    & span:hover {
      box-shadow: var(--costom-color-hover);
      transition: all .3s linear;
    }

    & span.active {
      box-shadow: var(--costom-color-hover);
      background-color: #0000;
      position: relative;

      &::after {
        @include useBlockCenter;
        content: "";
        width: calc(var(--ber-radio-dft-width) - 6px);
        height: calc(var(--ber-radio-dft-height) - 6px);
        background-color: var(--costom-color);
      }
    }
  }

  & .#{$ns_radio}-button {
    @include useSizeDft(0);
    @include useBorderRadius(0);
    @include useBorderBox;

    // min-height: var(--ber-compontion-height);
    margin-right: -1px;
    justify-content: center;
    align-items: center;
    align-content: center;

    line-height: 1;
    vertical-align: middle;

    border: var(--ber-solid);

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &.radio-button-active {
      transition: all .3s;
      color: var(--ber-radio-button-active-color);
      background-color: var(--ber-color-primary);
    }


    & span {
      display: none;
    }
  }
  
  .is-disabled {
    cursor: no-drop;
    color: var(--ber-radio-disabled-color);

    & span:hover {
      box-shadow: var(--ber-shadow);
    }

    span {
      background-color: var(--ber-color-gray) !important;
      // &::after {
      //   @include useBlockCenter;
      //   content: "";
      //   width: 4px;
      //   height: 4px;
      //   background-color: var(--ber-color-bg);
      //   border-radius: 50%;
      //   transition: all 1s;
      // }
    }
  }

}